/* Styles for buttons and text */
body{
  background-color: black;
  background-image: linear-gradient(to bottom right, #00030c, #121a35);
  color: #78fcca;
  background-size: 100%;
  background-attachment: fixed;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.nav{
  background-color: rgb(3 22 16 / 24%);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: -10px;
  width: calc(100% - 35px);
  display:inline-block;
  margin-right:auto;
  margin-left: -8px;
  padding-left: 15px;
  padding-right: 35px;
  overflow: hidden;
  li{
    padding-left:5px;
    line-height: 30px;
    float: left;
  }
}
#fileInput, #videoButton, #resetStats{
  max-width: 100px;
  background: rgba(96, 107, 102, 0.565);
  border: rgb(0, 0, 0);
  color: #51ffc1;
  border-radius: 5px;
}


#import{
  background: rgba(88, 96, 92, 0.137);
  border: rgb(0, 0, 0);
  color: #51ffc1;
}
#homeButton{
  background: rgba(88, 96, 92, 0.137);
  border: rgb(0, 0, 0);
  color: #51ffc1;
}
#password {
  right: 80%;
  display: inline-block;
  width: 40%;
  max-width: 100px;
  float: right;
  background: rgba(88, 96, 92, 0.137);
  border: rgb(0, 0, 0);
  color: #51ffc1;
  border-radius: 5px;
}

#playPauseButton, #skipButton {
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 10px;
  border-width: thin;
  border-color: #0000008f;
  background-color: #1919198f;
  color: #9ff1d2;
  &hover {
    background-color: #ffffff1f;
    color: #51ffc1;
  }
}


#indexSlider {
  width: 80%;
}

#currentSong {
  font-size: 25px;
}

#upcoming {
  padding-top: 10px;
  width: calc(100% - 50px);
  height: calc(100% - 205px);
  position:absolute;
  display: inline-block;
  white-space:nowrap;
  overflow-y: scroll;
  border-radius: 7px;
  background-color: rgba(127, 255, 212, 0.21);
}
li span:hover {
    cursor: pointer;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


::-webkit-scrollbar{
  width:5px;
  border-radius: 4px;
  background-color: rgba(100, 100, 100, 0.26);
}
::-webkit-scrollbar-thumb {
  background: #0b85b62f;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38ad7cd3; 

}

div, a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}


#playerinfo {
  padding-left: 10px;
  li{
    padding-left: 10px;
    line-height: 30px;
    border-top: 1px solid #ccc;
  }
}



  

#playerContainer {
  padding: 10px;
  position: absolute;
  right: 0%;
  display: block;
  margin: 0 auto;
  bottom: 0%;
}

#controls {
  /* border-top: 1px solid #00000079; */
  background-color: rgb(0 0 0 / 30%);
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  position: fixed;
  left: 0px;
  bottom: 0;
}

#videoSlider {
  -webkit-appearance: none;
  width: calc(100% - 50px);
  margin-left: 15px;
  background: #70707037;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
}
#videoSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 10px;
  border-radius: 100%;
  background: #00ff9d;
  cursor: pointer;
  box-shadow: -3000px 0 0 3000px #666;
  border: 0;
}
#videoSlider::-moz-range-thumb {
  width: 3px;
  height: 10px;
  border-radius: 100%;
  background: #00ff9d;
  box-shadow: -3000px 0 0 3000px #666;
  cursor: pointer;
}



#volumeSlider {
  -webkit-appearance: none;
  width:calc(100% - 600px);
  margin-left: 10px;
  max-width: 300px;
  min-width: 100px;
  background: #93ffdb78;
  outline: none;
  border-radius: 10px;
  height: 5px;
  
}
#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%; 
  background: #ffffff;
  cursor: pointer;
  border: 0;
}
#volumeSlider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 100%; 
  background: #ffffff;
  cursor: pointer;
}

