/* Styles for buttons and text */
#playPauseButton, #skipButton {
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 10px;
  border-width: thin;
}


#indexSlider {
  width: 80%;
}

#currentSong {

  font-size: 20px;
}

div, a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}


#playerinfo {
  margin-top: 3%;
  padding-left: 10px;


}

#password {
    padding-top: 10px;
}
  

#playerContainer {

  padding: 10px;
  position: absolute;
  right: 0%;
  display: block;
  margin: 0 auto;
  bottom: 0%;
}

#controls {
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  position: fixed;

  bottom: 0;
}

#volumeSlider {
  width:calc(100% - 600px);
  margin-left: 10px;
  max-width: 500px;
  min-width: 100px;
}
#indexSlider {

  width:calc(100% - 388px);
  margin-left: 10px;
  max-width: 712px;
  min-width: 100px;
}

  
